.box{
    margin-top: 2cm;
    margin-left: 20%;
}

.registerBtn{
    background-color: skyblue;
    margin-left: 10%;
}
.boxs{
 margin-top: 32px;
 text-align: center;
}
.reng{
    color: rgb(0, 182, 161);
    margin-right: 122px
}
