.top-box{
    margin-top: 40px;
    position: relative;
    left: calc(50% - 300px);
    top: 20%;
    text-align: center;
    width: 600px;
    p{
        color: gray;
    }
    button{
        margin-left: 10px;
    }

}